@charset "UTF-8";

/* ---共通部分--------------------------------------------- */

html {
    font-size: 100%;
}

body {
    font-family: "Hiragino Mincho ProN", "Yu Mincho", YuMincho, serif;
    /* font-family: sans-serif; */
    /* font-family: system-ui; */
    line-height: 1,7;
    color: #ffffff;
    min-width: 1200px;
    height: auto;
    background-color: #F9F8F7;
}


/* リンクの文字色 */
a {
    color: #F9F8F7;    
}


a:hover {
    color: #ED6D20;
}

.text-shadow {
    text-shadow: 2px 2px 2px #27120A; 
}

.box-shadow {
    box-shadow: 4px 4px 2px #27120a7e;
}

ul {
    margin:0;
    padding: 0;
    list-style: none;
}

/* ---共通部分--------------------------------------------- */

/* ---文字規定----------------------------- */
h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size:20px;
}

p {
    font-size: 16px;
}



.font-ll {
    font-size: 32px;
}

.font-l {
    font-size: 24px;
}

.font-mm {
    font-size: 20px;
}

.font-m {
    font-size: 16px;
}

.font-s {
    font-size: 12px;
}

.font-ss {
    font-size: 10px;
}

.font-w {
    font-weight: bold;
}

/* ---文字規定----------------------------- */

/* ---配色規定----------------------------- */

/* コーポレートカラー（みかん色）：primary */
.color-1 {
	color: #F18D00;
}

/* アクセントカラー（青空色）：secondary */
.color-2 {
	color: #0095F2;
}

/* メインエリアカラー（純白）：tertiary */
.color-3 {
    color: #F9F8F7;
}

/* サイドエリアカラー(うすみかん色)　:quaternary */
.color-4 {
    color: #FFE4BD;
}

/* バックグラウンドカラー（グレー）：quinary*/
.color-5 {
	color: #f0f0f0;
}

/* バックグラウンドカラー（濃グレー）：quinary*/
.color-5 {
	color: #d9d9d9;
}

/* メインフォントカラー（鉄黒）：font */
.color-f {
	color: #27120A
}

/* アクセントフォントカラー（赤）：red */
.color-a {
    color: #dc0e0e
}

/* ---配色規定----------------------------- */
/* ---header------------------------------ */
.header-zone {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 3;
    background: linear-gradient(to bottom, #F18D00, #f18d00a4);
    border-bottom: 0.3px solid #F9F8F7;
}

.header-area {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.logo-area {
    display: flex;
}

.logo {
    width: 100px;
}

.page-title {
    margin-left: 24px;
}

.title-style {
    color: #ED6D20;
}

.global-navigation {
    display: flex;
}

.global-nav {
    text-align: center;
    line-height: 20px;
    margin: 0 16px;
}
/* ---header------------------------------ */
/* ---main-------------------------------- */
/* ---基本構造-------------- */
.main-zone {
    width: 100%;
    background-color: #f0f0f0;
}

.main-area {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.side-menu-zone {
    width: 240px;
    background-color: #FFE4BD;
}

.side-menu-area {
    width: 200px;
    margin: 0 auto;
}

.main-menu-zone {
    width: 760px;
}
.main-menu-area {
    width: 700px;
    height: 1200px;
    margin-left: auto;
    background-color: #F9F8F7;
}
/* ---基本構造-------------- */


/* ---main-------------------------------- */